// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.front{
  display: inline-block;
  text-align: left;
  padding-left: 0;
}

.back{
  display: inline-block;
  text-align: left;
  padding-left: 0;
}

.data{
  display: inline-block;
  text-align: left;
  padding-left: 0;
}

#services .col-md-4 {
  text-align: left;
}
#services .col-md-4 ul {
  padding-left: 20px;
}